/* COLORS
dark yellow: rgba(254, 170, 58);
teal: rgba(45, 164, 168);
dark teal: rgba(67, 87, 114);
dark pink: rgba(207, 34, 37);
dark grey: rgba(66, 66, 66);
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    color: rgba(66, 66, 66);
    margin: 0;
}

header {
    position: relative;
    height: 650px;
    background-color: white;
    background-image: url('./assets/images/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px;
}

header ul {
    list-style: none;
    width: 100%;
    text-align: right;
}

.menu-item {
    font-size: 1.5em;
    display: inline;
    padding: 20px;
}

.menu-item i {
    font-size: 1.2em;
}

.menu-item a {
    text-decoration: none;
    color: rgba(66, 66, 66);
}

.menu-item a:hover {
    color: rgba(207, 34, 37);
}

.about-wrapper {
    width: 70%;
    margin: 1em auto 4em auto;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}

.about-wrapper .title {
    font-size: 1.5em;
    font-weight: bold;
}

.about-wrapper p {
    font-size: .8em;
}

.emphasize {
    font-size: 1.4em;
    font-weight: bold;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    10%  { transform: translateY(0); }
    30%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    57%  { transform: translateY(-3px); }
    64%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.name {
    color: rgba(207, 34, 37);
    position: relative;
}

.name::before, .name::after {
    opacity: 1;
    position: absolute;
    pointer-events: none;
    left: 0;
    line-height: 1em;
    font-size: .6em;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.name::after {
    content: attr(tooltip-text);
    bottom: calc(110% + 5px);
    width: 100%;
    background: rgba(207, 34, 37, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.name::before {
    content: '';
    z-index: 1001;
    border: 10px solid transparent;
    left: 10px;
    bottom: calc(110% - 4px);
    border-bottom-width: 0;
    border-top-color: rgba(207, 34, 37, 1);
}

.project-wrapper {
    background-image: linear-gradient(rgb(45, 164, 168), rgba(67, 87, 114));
    position: relative;
    width: 100%;
    padding: 4em 2em 12em 2em;
    text-align: center;
}

svg:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
}

svg:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
}

.project-title {
    font-size: 3.8em;
    margin-bottom: 0;
}

.project {
    position: relative;
    display: flex;
    color: white;
    margin-top: 8em;
    z-index: 1001;
}

.project-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 40%;
}

.project-img img {
    max-width: 100%;
    max-height: 330px;
    border: 2px white solid;
    border-radius: 5px;
}

.project-body {
    text-align: left;
    max-width: 650px;
    margin: 0 2em;
    flex-basis: 60%;
}

.project-body .title {
    font-size: 2.5em;
}

.project-body .title, .project-languages, .project-summary {
    margin: 20px 0;
}

.language {
    background: rgb(0,0,0);
    background: linear-gradient(rgba(207, 34, 37, 1) 75%, rgb(240, 36, 36) 100%);
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.project-body a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 1em;
}

.contact-wrapper {
    width: 60%;
    margin: 5em auto;
    text-align: center;
    font-size: 1.5em;
}

.contact-wrapper h2 {
    position: relative;
    font-size: 3em;
    margin: 0 0 0.5em 0;
}

.contact-wrapper h2::before, .contact-wrapper h2::after {
    opacity: 1;
    position: absolute;
    pointer-events: none;
    left: 50%;
    line-height: 1.2em;
    font-size: .4em;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.contact-wrapper h2::after {
    content: attr(tooltip-text);
    bottom: calc(110% + 5px);
    width: 150px;
    background: rgba(207, 34, 37, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.contact-wrapper h2::before {
    content: '';
    z-index: 1001;
    border: 10px solid transparent;
    left: calc(50% + 10px);
    bottom: calc(110% - 4px);
    border-bottom-width: 0;
    border-top-color: rgba(207, 34, 37, 1);
}

.contact-wrapper p {
    font-size: 1.2em;
}

.contact-wrapper .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    font-size: 3.5em;
}

.contact-wrapper .links a { transition: all .2s ease-in-out; }
.contact-wrapper .links a:hover { transform: scale(1.1); }

.contact-wrapper .links i:before {
    background: linear-gradient(rgba(207, 34, 37, 1), rgb(255, 96, 33));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contact-wrapper .links span {
    margin-top: -0.6em;
    font-size: 0.4em;
    font-weight: bold;
    background: linear-gradient(rgba(207, 34, 37, 1), rgb(255, 96, 33));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {

    header {
        background-size: 400px;
    }

    .about-wrapper {
        width: 90%;
        font-size: 1.5em;
    }

    .project, .project-img {
        display: block
    }

    .project-body {
        text-align: center;
    }

    .contact-wrapper {
        width: 70%;
        font-size: 1.4em;
    }

    .contact-wrapper .links span {
        font-size: 0.3em;
    }
}





